altgraph==0.17.4
babel==2.16.0
beautifulsoup4==4.12.3
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.0
cryptography==43.0.3
et_xmlfile==2.0.0
idna==3.10
lxml==5.3.0
MouseInfo==0.1.3
msal==1.31.0
numpy==2.1.2
Office365-REST-Python-Client==2.5.13
openpyxl==3.1.5
packaging==25.0
pandas==2.2.3
pefile==2023.2.7
pillow==11.1.0
PyAutoGUI==0.9.54
pycparser==2.22
PyGetWindow==0.0.9
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.3
PyJWT==2.9.0
PyMsgBox==1.0.9
pypandoc==1.15
pyperclip==1.9.0
PyRect==0.2.0
PyScreeze==1.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytweening==1.2.0
pytz==2024.2
pywin32==308
pywin32-ctypes==0.2.3
reportlab==4.3.1
requests==2.32.3
requests-toolbelt==1.0.0
setuptools==79.0.0
six==1.16.0
smartsheet-python-sdk==3.0.4
soupsieve==2.6
tkcalendar==1.6.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
